<nav class="navbar navbar-expand py-0">
  <section class="container-fluid d-flex justify-content-between border-bottom px-6 py-4">
    <a class="navbar-brand" [routerLink]="['/']">
      <h1 class="fw-bolder mb-0">Github <span class="fw-semibold text-secondary">Search</span></h1>
    </a>

    <ul class="navbar-nav ms-auto gap-1">
      <li class="nav-link">
        <a
          class="d-inline-flex btn align-items-center fs-6"
          [routerLink]="['/']"
          [routerLinkActive]="activeClasses"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <app-icon-home [style.width.rem]="iconSize" [strokeWidth]="strokeWidth"></app-icon-home>
          Início
        </a>
      </li>

      <li class="nav-link">
        <a
          class="d-inline-flex btn align-items-center fs-6"
          [routerLink]="['/favoritos']"
          [routerLinkActive]="activeClasses"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <app-icon-bookmark [style.width.rem]="iconSize" [strokeWidth]="strokeWidth"></app-icon-bookmark>
          Favoritos
        </a>
      </li>
    </ul>
  </section>
</nav>
