@use "../abstracts/functions" as fun;

@use "../abstracts/variables/typography";

@forward "fonts";

h6, .h6, h5, .h5,
h4, .h4, h3, .h3,
h2, .h2, h1, .h1 {
  letter-spacing: .02em;
  line-height: inherit;
}

.text-regular {
  font-family: typography.$font-family-sans-serif;
}

.fs-14px {
  font-size: fun.convert-px-to-rem(14);
}
