@font-face {
  font-family:  'Mukta';
  font-weight:  400;
  src:          url('./tff/Mukta-Regular.ttf');
}

@font-face {
  font-family:  'Mukta';
  font-weight:  500;
  src:          url('./tff/Mukta-Medium.ttf');
}

@font-face {
  font-family:  'Mukta';
  font-weight:  600;
  src:          url('./tff/Mukta-SemiBold.ttf');
}

@font-face {
  font-family:  'Mukta';
  font-weight:  700;
  src:          url('./tff/Mukta-Bold.ttf');
}

@font-face {
  font-family:  'Mukta';
  font-weight:  800;
  src:          url('./tff/Mukta-ExtraBold.ttf');
}