<svg width="100%" height="100%" [attr.fill]="fillColor" viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.5 8.375C13.5 11.4816 10.9816 14 7.875 14C4.7684 14 2.25 11.4816 2.25 8.375C2.25 5.2684 4.7684 2.75 7.875 2.75C10.9816 2.75 13.5 5.2684 13.5 8.375Z" [attr.stroke]="strokeColor" [attr.stroke-width]="strokeWidth" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M15 15.5L11.8525 12.3525" [attr.stroke]="strokeColor" [attr.stroke-width]="strokeWidth" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>

